body, html{
    height:100%;
    margin: 0px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height:1.8em;
    color: #666;

}
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment:fixed;

}
.pimg1{
    background-image:url('../img/bg1.jfif');
    min-height:45%;

}
.pimg2{
    background-image:url('../img/bg2.jpg');
    min-height:400px;
    
}
.pimg3{
    background-image:url('../img/bg3.jpg');
    min-height:400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-dark{
    background-color: #282e34;
    color: #ddd
}

.ptext{
    position: absolute;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    top: 50%;
}

.ptext1{
    position: absolute;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    top: 20%;
}
.ptext1 .border{
    background-color: #111;
    color: white;
    padding: 10px;
    line-height: 60px;
}

.ptext .border{
    background-color: #111;
    color: white;
    padding: 10px;
    line-height: 60px;
}

.ptext .border.trans{
    background-color: transparent;
}

.desktop-nav{
    width: 500px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#desktop-nav ul{
    list-style: none;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

#desktop-nav li{
    list-style: none;
    color: white;
    margin-top: 10px;
    text-align: center;
}

a[id="nav1"]:target ~ #section.section-dark {
    -webkit-transform: translateY(0px);
    transformL translateY(_0px_);
}

a[id="nav2"]:target ~ #section.section-dark {
    -webkit-transform: translateY(0px);
    transformL translateY(_0px_);
}
a[id="nav3"]:target ~ #section.section-dark {
    -webkit-transform: translateY(0px);
    transformL translateY(_0px_);
}
a[id="nav4"]:target ~ #section.section-dark {
    -webkit-transform: translateY(0px);
    transformL translateY(_0px_);
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}
